@model IEnumerable<SurfsUp.Models.Equipment>

@{
    ViewData["Title"] = "Udstyr";
}

<h1>Udstyr</h1>

<p>
    @if (User.IsInRole("Adminstrators"))
    {
        <a asp-action="Create" style="float: right; margin-right: 10px" class="btn btn-success">Tilføj ny</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align: right">
                <p>
                @if (User.IsInRole("Adminstrators"))
                {
                    <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Ændr </a>
                }
                
                @if (User.IsInRole("Adminstrators"))
                { 
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Slet </a>
                    
                }
                <a asp-action="Details" class="btn btn-outline-primary" asp-route-id="@item.Id">Detaljer</a>
                </p>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    window.onload = function() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const message = urlParams.get('Error');
        if (message != null)
            window.alert(message);
    }
</script>