@using Microsoft.AspNetCore.Identity
@model SurfsUpLibrary.Models.Board
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>

<div>
    <h4>Board</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @for (int i = 0; i < Model.Equipment.Count; i++)
            {
                @(Model.Equipment[i].Name + ((i != Model.Equipment.Count - 1) ? ", " : string.Empty))
            }
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Adminstrators"))
    {
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.Id">Ændr</a>
    }
    <a asp-action="Index" class="btn btn-primary">Tilbage til listen</a>
</div>